body {
    margin: 0;
}

.fixed-show-grid {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom,#0ff 0,rgba(255,255,255,0)1px);
    background-repeat: repeat-y;
    // background-size: 100% 1rem;
    background-size: 100% 8px;
    z-index: 9999999999999;
}

.show-grid {
    background-image: linear-gradient(to bottom,#0ff 0,rgba(255,255,255,0)1px);
    background-repeat: repeat-y;
    // background-size: 100% 1rem;
    background-size: 100% 8px;
}

section {
    position: relative;
    // min-height: 100vh;
    vertical-align: middle;
}

.container {
    position: relative;
    // height: 100%;
    vertical-align: middle;
    max-width: 960px;
    margin: 0 auto;
    padding: 50px 24px;
    @media #{$medium-and-up} {
        padding: 50px 0;
    }
}

.wide-container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 20px;
    @media #{$medium-and-up} {
        padding: 0;
    }
}

.flex-container {
    display: flex;
    // align-items: cen;
    justify-content: center;
    flex-direction: column;
}

.shift-1 {
    margin-left: 8.333333333%;
}

.shift-2 {
    margin-left: 16.66666667%;
}

.shift-3 {
    margin-left: 25%;
}

.shift-4 {
    margin-left: 33.33333333%;
}

.col-6 {
    @media #{$medium-and-up} {
        width: 50%;
    }
}

.col-8 {
    @media #{$medium-and-up} {
        width: 66.66666667%;
    }
}

