body {
    font-family: "Roboto", sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 500;
}

h1 {
    // text-align: center;
    margin-bottom: 0;
    font-size: 40px;
    @media #{$medium-and-up} {
        font-size: 72px;
    }
}

.intro {
    h2 {
        // text-align: center;
        @media #{$medium-and-up} {
            margin-top: 16px;
        }
    }
}

a {
    text-decoration: none;
    color: $black;
}

section {
    a {
        font-weight: bold;
        border-bottom: 1px solid rgba(0,0,0,1);
        color: $black;
    }
}

p {
    font-size: 18px;
    line-height: 26px;
}