body {
    font-family: "Roboto", sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 500;
}

h1 {
    // text-align: center;
    margin-bottom: 0;
    font-size: 40px;
    color: $purple;
    @media #{$medium-and-up} {
        font-size: 80px;
    }
}

.intro {
    h2 {
        // text-align: center;
        @media #{$medium-and-up} {
            margin-top: 16px;
        }
    }
}

h3 {
    font-size: 32px;
    line-height: 32px;
    @media #{$medium-and-up} {
        font-size: 64px;
        line-height: 64px;
        margin: 0;
    }
}

h4 {
    font-size: 24px;
    line-height: 24px;
    @media #{$medium-and-up} {
        font-size: 48px;
        line-height: 48px;
        // margin: 0;
    }
}

h5 {
    font-size: 20px;
    line-height: 24px;
    @media #{$medium-and-up} {
        font-size: 32px;
        line-height: 32px;
        margin: 0;
    }
}

a {
    text-decoration: none;
    color: $black;
}

.ta--center {
    text-align: center;
}

section {
    a {
        font-weight: bold;
        border-bottom: 1px solid rgba(0,0,0,1);
        color: $black;
    }
}

p {
    font-size: 18px;
    line-height: 26px;
}

.underline--black {
    border-bottom: 1px solid $black;
}

.underline--yellow {
    border-bottom: 1px solid $yellow;
}

.med-type {
    font-size: 32px;
    line-height: 32px;
    font-weight: bold;
    @media #{$medium-and-up} {
        font-size: 32px;
        line-height: 32px;
        font-weight: normal;
    }
}

.large-type {
    font-size: 64px;
    line-height: 64px;
    font-weight: bold;
    margin: 32px 0;
    @media #{$medium-and-up} {
        font-size: 200px;
        line-height: 200px;
        font-weight: normal;
    }
}