#results-impressions {
    background: $blue;
    color: $white;
    // padding-top: 88px;
    text-align: center;
    @media #{$medium-and-up} {
        padding: 72px 0;
    }
    h4 {
        font-size: 24px;
        margin-top: 0;
        @media #{$medium-and-up} {
            font-size: 32px;
            margin-bottom: 0;
            margin-top: 0;
        }
    }
}

#impressions-number {
    color: $purple;
    margin-bottom: 8px;
    overflow: hidden;
    > span {
        display: inline-block;
        overflow: hidden;
        width: 43px;
        height: 64px;
        line-height: 64px;
        @media #{$medium-and-up} {
            width: 120px;
            height: 150px;
            line-height: 170px;
        }
        span {
            position: relative;
            top: -53px;
            @media #{$medium-and-up} {
                top: -175px;
            }
        }
    }
}

#animate-number.active {
    -webkit-animation: counter 1.5s 1;
    -moz-animation: counter 1.5s 1;
    animation: counter 1.5s 1;
    @media #{$medium-and-up} {
        -webkit-animation: counter 2s 1;
        -moz-animation: counter 2s 1;
        animation: counter 2s 1;
    }
}

@media #{$small-and-down} {
    @keyframes counter {
        0% {
            top: 0px;
        }
        50% {
            top: -27px;
        }
        100% {
            top: -53px;
        }
    }
}

@media #{$medium-and-up} {
    @keyframes counter {
        0% {
            top: 0px;
        }
        50% {
            top: -120px;
        }
        100% {
            top: -175px;
        }
    }
}


.media-explore {
    // opacity: 0.8;
    // text-align: center;
    a {
        color: $white;
        color: $purple;
        text-decoration: none;
        border: none;
        font-size: 24px;
        margin: 0 4px;
        &:hover {
            color: lighten($purple, 10);
        }
    }
}

.embeds {
    padding: 24px 24px 0;
    @media #{$medium-and-up} {
        display: flex;
        justify-content: space-between;
        padding: 32px 0 0;
    }
}

.twitter-embed,
.ig-embed {
    @media #{$medium-and-up} {
        display: inline-block;
        width: 30%;
        margin-bottom: 0;
    }
}

.twitter-embed {
    // margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 0;
    @media #{$small-and-down} {
        margin-bottom: 24px;
    }
    @media #{$medium-and-up} {
        margin: -10px 0;
    }
    twitterwidget {
        position: relative;
        margin: 0 auto;
    }
}

.ig-embed {
    text-align: center;
    iframe {
        margin: 0 auto !important;
    }
}

.events-flex-container {
    text-align: left;
    > div {
        position: relative;
        a {
            color: $white;
            border-bottom: 1px solid $white;
        }
        img {
            border: 4px solid rgba(255,255,255,0.5);
            width: 100%;
            height: auto;
        }
    }
    @media #{$medium-and-up} {
        padding: 56px 0;
        display: flex;
        justify-content: space-between;
        > div {
            width: 45%;
        }
    }
}

