#results-media {
    // background: $pink;
    // color: $white;

    blockquote {
        font-size: 32px;
        font-style: italic;
        margin: 24px 0 24px 0;
    }
    cite {
        font-style: normal;
        margin: 0 0 0 40px;
        opacity: 0.8;
    }
}