#results-media {
    background: $orange;
    background: $purple;
    color: $white;
    padding-bottom: 0;
    .container {
        @media #{$medium-and-up} {
            padding: 0;
            padding-bottom: 24px;
        }
    }
    @media #{$medium-and-up} {
        padding: 72px 0 0;
    }
    blockquote {
        font-size: 18px;
        line-height: 26px;
        font-style: italic;
        // margin: 20px 20px;
        padding: 24px 0 24px 8px;
        position: relative;
        #start-quote {
            position: absolute;
            top: 0px;
            left: -40px;
            opacity: 0.3;
            font-size: 64px;
            transform: scale(-1, 1);
        }
        .underline--yellow {
            // background-color: #DFDBE5;
            border-bottom: none;
            background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23fffb4f' fill-opacity='0.8' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
            background-repeat: repeat-x;
            background-position: 100% 100%;
            padding-bottom: 4px;
            // white-space: nowrap;
        }
        @media #{$medium-and-up} {
            font-size: 24px;
            line-height: 32px;
            margin: 40px 0 24px 0;
            padding: 0;
            #start-quote {
                top: -24px;
                left: -56px;
                opacity: 0.3;
                font-size: 64px;
            }
        }
    }
    cite {
        font-style: normal;
        margin: 0 0 0 56px;
        opacity: 0.7;
        @media #{$medium-and-up} {
            margin: 0 0 0 40px;       
        }
        a {
            color: $yellow;
        }
    }
}

p.media-number {
    text-align: center;
    // color: $green;
    // color: $purple;
}

.media-blocks {
    padding: 56px 0;
    background: $green;
    color: $yellow;
    @media #{$medium-and-up} {
        padding: 72px 0;        
    }
    h4 {
        margin-top: 0;
    }
    .wide-container {
        @media #{$small-and-down} {
            padding-left: 0;
            padding-right: 0; 
            padding-top: 0;       
        }
    }
}

.flex-col-third,
.flex-col-half {
    text-align: center;
    >a {
        &:hover {
            h5 {
                color: $orange;
            }
        }
    }
}

.flex-inner-wrapper {
    padding: 0px 16px;
    @media #{$medium-and-up} {
        padding: 56px 24px;
    }
}

.flex-col-third {
    >a {
        color: $yellow;
        display: block;
        border-bottom: 1px solid rgba(255, 253, 56, 0.5);
    }      
    @media #{$small-and-down} {     
        >a:first-child {
            border-top: 1px solid rgba(255, 253, 56, 0.5);
        }
    }
    @media #{$medium-and-up} {
        display: flex;
        >a {
            width: 33.33%;
            border-bottom: 2px solid $yellow;
        }      
        >a:first-child {
            border-right: 2px solid $yellow;
        }
        >a:last-child {
            border-left: 2px solid $yellow;
        }
    }
}

.flex-col-half {
    >a {
        color: $yellow;
        display: block;
        border-bottom: 1px solid rgba(255, 253, 56, 0.5);
    } 
    @media #{$medium-and-up} {
        display: flex;
        >a {
            width: 50%;
            border-bottom: 0;
        }  
        >a:first-child {
            border-right: 1px solid $yellow;
        }   
        >a:last-child {
            border-left: 1px solid $yellow;
        }   
    }
}