.sticky {
    background: rgba(255,255,255,0.9);
    position: fixed;
    height: 64px;
    width: 100%;
    z-index: 500;
    // bottom: 0;
    // margin-top: 64px;
}

footer.sticky {
    bottom: -60px;
    transition: all 0.5s ease;
    i {
        color: $black;
        color: rgba(0,0,0,0.8);
    }
}

footer.show {
    bottom: 0;
}

.progress-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
    a {
        display: block;
    }
}

.progress-container__single {
    // width: 20%;
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    // >p, >div {
    //     display:inline-block;
    // }
    >p {
        // width: 10%; 
        margin: 0;
        text-align: center; 
        @media #{$small-and-down} {
            font-size: 10px;
            i {
                font-size: 18px;
            }
        } 
        span {
            color: rgba(0,0,0,0.5);
            display: block;
            font-size: 10px;
            line-height: 10px;
            text-transform: uppercase;
        }
    }
}

.progress-bar {
    width: 18%;
}

.progress-line {
    display: block;
    width: 0%;
    height: 3px;
    background: rgba(0,0,0,0.5);
    vertical-align: middle;
    transition: all 0.5s ease;
}

.progress-line.grow {
    width: 100%;
}

#progress-start,
#progress-goals-supporters,
#progress-impressions,
#progress-media,
#progress-next {
    &:hover i {
        color: rgba(0,0,0,0.5);
    }
    &:hover i.active {
        color: $red;
    }
}

.material-icons.progress-icon.active {
    color: $red;
} 

.material-icons.progress-icon.active:hover,
.material-icons.progress-icon.active:active,
.material-icons.progress-icon.active:focus {
    color: $red;
}

#progress-goals-supporters {

}

#progress-impressions {

}

#progress-media {

}

#progress-next {

}

#social {
    padding: 16px 0;
    @media #{$medium-and-up} {
        padding: 56px 0 0;
    }
    a {
        border-bottom: none;
        font-size: 32px;
        margin: 0 4px;
    }
}

.cta {
    background: $yellow;
    text-align: center;
    padding-top: 0;
    p {
        margin: 0;
    }
    .button {
        display: inline-block;
        padding: 20px;
        margin: 0 10px 10px 0;
        font-weight: 500;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 1.1px;
        -webkit-transition: all .2s ease-out;
        -moz-transition: all .2s ease-out;
        -o-transition: all .2s ease-out;
        transition: all .2s ease-out;
        text-align: center;
        line-height: 1.2em;
        background-color: $black;
        color: $white;
        border: 1px solid $black;
        background-image: none;
        box-shadow: none;
        &:hover, &:active, &:focus {
            background: #ff4822;
            border: 1px solid #ff4822;
            color: $white;
        }
    }
    .button.flat {
        background-color: transparent;
        color: $black;
        border: 1px solid transparent;
        &:hover, &:active, &:focus {
            // background: #ff4822;
            border: 1px solid $black;
            // color: $white;
        }
    }
}

footer.credits {
    background: $yellow;
    text-align: center;
    padding-bottom: 100px;
    p {
        font-size: 12px;
        margin: 0;
        opacity: 0.3;
        a {
            border-bottom: 1px solid $black;
        }
    }
}